<div class="container">
  <div class="col-sm-10">
    <div class="panel">
<% provide(:title, "首页") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>你想知道 都在这里</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>讨论区</h1>
    <h2>交流约会聚友</h2>
    <%= link_to "返回主页登录吧", root_path, class: "btn btn-lg btn-primary" %>
  </div>
  <!--<%= link_to image_tag("sid-meiers-civilization-vi.jpg", alt: "Rails logo"), 'http://www.baidu.com/' %>-->
<% end %>

    </div>
  </div>
</div>