<div class="container">
<%= form_with(model: game, local: true) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "桌游名称", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.text_field :name, class: 'form-control', placeholder: "" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "桌游类型", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.text_field :type, class: 'form-control', placeholder: "" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "桌游信息", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.text_field :info, class: 'form-control', placeholder: "" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "桌游评分", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%=f.select :point,[['1.0', 1], ['2.0', 2], ['3.0', 3], ['4.0', 4], ['5.0', 5]], class: 'form-control', placeholder: "" %>
      </div>
    </div>
  </div>

  <%= f.submit '添加桌游', class: "btn btn-primary btn-block" %>
<% end %>
</div>