<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <h1>桌游打分</h1>
      </div>
      <div class="panel-body">

<%= form_with(model: @game, local: true) do |f| %>

  <div class="form-group">
    <%= f.label "桌游名称", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.text_field :name, class: 'form-control', placeholder: "",:readonly => true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "桌游类型", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.text_field :type, class: 'form-control', placeholder: "",:readonly => true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "桌游信息", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.text_field :info, class: 'form-control', placeholder: "",:readonly => true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "桌游评分", class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon"></div>
        <%= f.select :score,[['1.0', 1], ['2.0', 2], ['3.0', 3], ['4.0', 4], ['5.0', 5]], class: 'form-control', placeholder: "" %>
      </div>
    </div>
  </div>

  <%= f.submit '桌游打分', class: "btn btn-primary btn-block" %>
<% end %>


<%= link_to '桌游展示', @game %> |
<%= link_to '返回', games_path %>

      </div>
    </div>
  </div>
</div>