<div class="container">
  <div class="col-sm-offset-2 col-sm-8">
      <div class="panel">
<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Info</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.type %></td>
        <td><%= game.info %></td>
        <td><%= game.score %></td>
        <td><%= link_to '桌游详情', game %></td>
        <% if logged_in? %>
        <td><%= link_to '打分', edit_game_path(game) %></td>
        <% end %>
             </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>

