<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game.type %>
</p>

<p>
  <strong>Info:</strong>
  <%= @game.info %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>


<%= link_to '桌游打分', root_path %> |
<%= link_to '返回', games_path %>


