<div class="container">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="panel">
<p id="notice"><%= notice %></p>

<p align="center">
  <strong>游戏名称:</strong>
  <%= @game.name %>
</p>

<p align="center">
  <strong>游戏类型:</strong>
  <%= @game.type %>
</p>

<p align="center">
  <strong>详细信息:</strong>
  <%= @game.info %>
</p>

<p align="center">
  <strong>得分:</strong>
  <%= @game.point %>
</p>
<% if logged_in? %>
   <%= link_to '桌游打分', edit_game_path(@game) %> |
<% end %>
<%= link_to '返回', games_path %>
</div>
</div>
</div>