<div class="container">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="panel">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game.type %>
</p>

<p>
  <strong>Info:</strong>
  <%= @game.info %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.point %>
</p>
<% if logged_in? %>
   <%= link_to '桌游打分', edit_game_path(@game) %> |
<% end %>
<%= link_to '返回', games_path %>
</div>
</div>
</div>