<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="comment_form">
        <%= render 'shared/comment_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>查看帖子</h3>
      <ol class="micropost">
       <%= render @micropost %>
      </ol>
    <% end %>
    <% if @micropost.comments.any? %>
      <h4>评论 (<%= @micropost.comments.count %>)</h4>
      <%= render 'shared/feed_comment' %>
    <% end %>
  </div>
</div>